
body {
  margin: 0;
  padding: 0;
}

.video-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    min-height: 100vh;
    background-color: #2A2A2A;
}

.video-wrapper {
    position: relative;
}

.video-username {
    position: absolute;
    top: 0;
    right: 0;

}

.video {
    width: auto;
    height: 344px;
    margin: 5px;
}

#local_vid {
    border: 1px solid green;
}