
body {
  margin: 0;
  padding: 0;
}

.video-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    min-height: 100vh;
    background-color: #2A2A2A;
}

.video-wrapper {
    text-align: center;
    margin: 5px;
}

.video-username {
    color: white;
}

.video {
    width: auto;
    height: 344px;
}

#local_vid {
    border: 1px solid green;
}


.conference-actions {
    background-color: #2A2A2A;
    border: 1px dashed green;

}