
body {
  margin: 0;
  padding: 0;
}

.video-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    min-height: 100vh;
    background-color: #2A2A2A;
}

.video-wrapper {
    text-align: center;
    margin: 5px;
}

.video-username {
    color: white;
}

.video {
    width: auto;
    height: 344px;
}


@media (min-width: 600px) and (max-width: 1000px) {
    .video {
        width: auto;
        height: 280px;
    }
}



@media (max-width: 600px) {
    .video {
        width: auto;
        height: 140px;
    }
}


#local_vid {
    border: 1px solid green;
}


.conference-actions {
    background-color: #2A2A2A;
    border: 1px dashed green;

}