<!DOCTYPE html>
<html lang="en">

<head>
    <!-- icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- socketio -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- jQuery UI -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
        integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- google Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- custom css -->
    <link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">


    <script type="text/javascript">
        var myRoomID = "{{room_id}}";
        var myName = "{{display_name}}";
        var audioMuted = "{{mute_audio}}" == "1";
        var videoMuted = "{{mute_video}}" == "1";
        var isConferenceBlocked = false;
        var video_token = "{{video_token}}";
        console.log(">> {{mute_audio}}, {{mute_video}}", audioMuted, videoMuted);
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Chat [{{room_id}}]</title>
</head>

<body>
    <div class="row">
        <div id="video_grid" class="video-grid col-10">
            <div class="video-wrapper">
                <div class="video-username">You</div>
                <video id="local_vid" class="video" autoplay muted></video>
            </div>
        </div>
           <div class="conference-actions p-3 col-2">
               <div class="h5 text-white text-center">Действия</div>
               <div class="mt-3">
                   <div class="text-white text-center">Параметры медиа</div>
                   <div class="d-flex justify-content-between p-3">
                       <span class="text-white mt-1">Аудио</span>
                       <button id="AUDIO_BUTTON" type="button" class="btn btn-info btn-sm">Включено</button>
                   </div>
                   <div class="d-flex justify-content-between p-3">
                       <span class="text-white mt-1">Видео</span>
                       <button id="VIDEO_BUTTON" type="button" class="btn btn-info btn-sm">Включено</button>
                   </div>
               </div>
               <div class="mt-3">
                   <div class="text-white text-center">Параметры конференции</div>
                   {% if is_creator  %}
                   <div class="d-flex justify-content-between mt-3">
                        <button id="CONFERENCE_ACCESS_BUTTON" type="button" class="btn btn-warning btn-sm col-12">Заблокировать</button>
                   </div>
                   {% endif %}
                   <div class="d-flex justify-content-between mt-3">
                      <button id="CONFERENCE_QUIT_BUTTON" type="button" class="btn btn-info btn-sm col-12">Отключиться</button>
                  </div>
                    {% if is_creator %}
                   <div class="d-flex justify-content-between mt-3">
                        <button id="CONFERENCE_FINISH_BUTTON" type="button" class="btn btn-danger btn-sm col-12">Завершить</button>
                   </div>
                   {% endif %}
               </div>
               <div class="mt-3">
                   <div class="text-white text-center">Участники</div>
<!--                   <div class="d-flex justify-content-between p-3">-->
<!--                       <span class="text-white mt-1">user</span>-->
<!--                   </div>-->
<!--                   <div class="d-flex justify-content-between p-3">-->
<!--                       <span class="text-white mt-1">user2</span>-->
<!--                    {% if is_creator %}-->
<!--                       <button type="button" class="btn btn-danger btn-sm">Исключить</button>-->
<!--                   {% endif %}-->
<!--                   </div>-->
<!--                    <div class="d-flex justify-content-between p-3">-->
<!--                       <span class="text-white mt-1">user3</span>-->
<!--                       <button type="button" class="btn btn-danger btn-sm">Исключить</button>-->
<!--                   </div>-->
               </div>
           </div>
    </div>
    <script src="{{url_for('static', filename='chatroom_ui.js')}}"></script>
    <script src="{{url_for('static', filename='chatroom_networking.js')}}"></script>
    <script src="{{url_for('static', filename='envs.js')}}"></script>
    <script src="{{url_for('static', filename='requiesting.js')}}"></script>
    <script>
        $('#VIDEO_BUTTON').click(function(){
              videoMuted = !videoMuted;
              let activeClass = "btn-info";
              let inactiveClass = "btn-secondary";
              if (videoMuted) {
                $(this).removeClass(activeClass);
                $(this).addClass(inactiveClass);
                $(this).text("Выключено");
              } else {
                $(this).removeClass(inactiveClass);
                $(this).addClass(activeClass);
                $(this).text("Включено");
              }
              setVideoMuteState(videoMuted);

        });
        $('#AUDIO_BUTTON').click(function(){
              audioMuted = !audioMuted;
              let activeClass = "btn-info";
              let inactiveClass = "btn-secondary";
              if (audioMuted) {
                $(this).removeClass(activeClass);
                $(this).addClass(inactiveClass);
                $(this).text("Выключено");
              } else {
                $(this).removeClass(inactiveClass);
                $(this).addClass(activeClass);
                $(this).text("Включено");
              }
              setAudioMuteState(audioMuted);
        });
        $('#CONFERENCE_QUIT_BUTTON').click(function(){
              window.location.replace((frontendURL + "/conferences"));
        });
        $('#CONFERENCE_FINISH_BUTTON').click(function(){
              finishConference(myRoomID, video_token).then(r =>  {
                if (r.error) {
                    alert("Вы не создатель конференции")
                } else {
              window.location.replace((frontendURL + "/conferences"));}

              });
        });
        $('#CONFERENCE_ACCESS_BUTTON').click(function(){
              isConferenceBlocked = !isConferenceBlocked;
              let activeClass = "btn-warning";
              let inactiveClass = "btn-info";
             if (isConferenceBlocked) {
                $(this).removeClass(activeClass);
                $(this).addClass(inactiveClass);
                $(this).text("Разблокировать");
              } else {
                $(this).removeClass(inactiveClass);
                $(this).addClass(activeClass);
                $(this).text("Заблокировать");
              }
              changeConferenceJoinAccess(myRoomID, video_token, isConferenceBlocked);
        });
    </script>
</body>

</html>